{% include base_path %}

{% comment %} Detect current page language {% endcomment %}
{% assign current_lang = page.lang | default: 'en' %}

{% comment %} Select appropriate navigation based on language {% endcomment %}
{% if current_lang == 'zh' %}
  {% assign nav_links = site.data.navigation.main_zh %}
  {% assign other_lang = 'en' %}
  {% assign other_lang_label = site.data.navigation.language_switcher.en.label %}
  {% assign other_lang_url = site.data.navigation.language_switcher.en.url %}
{% else %}
  {% assign nav_links = site.data.navigation.main_en %}
  {% assign other_lang = 'zh' %}
  {% assign other_lang_label = site.data.navigation.language_switcher.zh.label %}
  {% assign other_lang_url = site.data.navigation.language_switcher.zh.url %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in nav_links %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% comment %} Language switcher {% endcomment %}
          <li class="masthead__menu-item language-switcher">
            <a href="{{ other_lang_url }}" title="Switch to {{ other_lang_label }}">
              {{ other_lang_label }}
            </a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>